body {
  line-height: 1.8;
}
img {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
}

.hp-nav {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.hp-navbar {
  height: 150px;
  background: url('/img/navbar-bgimg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hp-navbar-bgcolor {
  background-color: rgba(0,0,0,0.7); 
  height: 100%;
}

.hp-navbar-logo {
  width: 64px;
  height: 24px;
  margin-top: 10px;
}

.hp-navbar-btns {
  margin-top: 10px;
}

.hp-navbar-title {
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  margin-top: 10px;
}

.hp-navbar-title:hover {
  color: #cdddeb;
  text-decoration: none;
}

.hp-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #fff;
}
.hp-nav-item:hover,
.hp-nav-item:focus {
  color: #cdddeb;
  text-decoration: none;
}
.hp-nav .active {
  color: #fff;
}
.hp-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.posts-head {
  height: 70px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.posts-title {
  font-size: 30px;
  display: block;
  font-weight: 500;
}

.posts-title a{
  color: #000;
  text-decoration: none;
}

.posts-title a:hover {
  color: #888;
}

.posts-info {
  vertical-align: bottom;
}

.posts-date {  
  font-size: 13px;
  color: #999999;
}
.posts-author {
  color: #606060;
  font-size: 13px;
}

.posts-author-img {
  width: 25px; 
  height: 25px; 
  border-radius: 10%;
  margin: 0 3px;
}

.posts-content {
  text-decoration: none;
  color: #000;
}

.posts-content:hover {
  text-decoration: none;
  color: #888;
}

.post-header {
  height: 75px;
  padding-top: 30px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.post-original .alert {
  font-size: small;
  padding: 5px;
}

.post-date {
  font-weight: bold;
  display: inline-block;
}
.post-date i {
  padding: 3px 6px;
  margin: 2px;
}

.post-author {
  font-weight: bold;
  display: inline-block;
}
.post-author i {
  padding: 3px 6px;
  margin: 2px;
}

.post-tags {
  display: inline-block;
}

.post-original {
  display: inline-block;
}

.post-original i {
  padding: 3px 6px;
  margin: 2px;
}

.tag_box {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tag_box li {
  line-height: 28px;
}
.tag_box li i {
  padding: 6px 6px;
  margin: 2px;
}
.tag_box.inline li {
  float: left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.tag_box a:hover {
  background-color: #e5e5e5;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
