{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $paginator := .Paginate .Data.Pages }}

<div class='container'>
  <div class='row' style='margin-top: 20px;'>
    <div class='col-12 col-lg-9'>
      <div class='alert alert-info'>
        <i class='fas fa-info-circle'></i>
        <a href='/ko/2018-01-23-1-zigzag-devteam-is/' class='alert-link'>지그재그 개발팀 소개</a>
        <i class='fas fa-angle-double-right'></i>
      </div>
      {{ range $paginator.Pages }}
      <div>
        <div class='posts-head'>
          <span class='posts-title'>
            <a href='{{ .URL }}'>{{ .Title }}</a>
          </span>
          <div class='posts-info text-right'>
            <span class='posts-date'>{{ .Date.Format "02 Jan 2006" }} | </span>
            {{ if .Params.author }}
            <span class='posts-author'>by {{ .Params.author }}</span>
            {{ end }}
          </div>
        </div>
        <div class='card-body'>
          <a href='{{ .URL }}' class='posts-content'>
            {{ .Summary }}
            <div class='posts-readmore'>&hellip; read more </div>
          </a>
        </div>
      </div>
      {{ end }}
    </div>

    {{ partial "sidebar.html" . }}
    {{ partial "pagination.html" . }}

  </div>

</div>

{{ partial "footer.html" . }}
