body {
  line-height: 1.8;
}
img {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
}

.hp-navbar {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.hp-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.hp-nav-item:hover,
.hp-nav-item:focus {
  color: #fff;
  text-decoration: none;
}
.hp-nav .active {
  color: #fff;
}
.hp-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.posts-title {
  font-size: 30px;
}
.posts-date {
  color: #999999;
}

.post-date {
  font-weight: bold;
}
.post-date i {
  padding: 3px 6px;
  margin: 2px;
}

.tag_box {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tag_box li {
  line-height: 28px;
}
.tag_box li i {
  padding: 6px 6px;
  margin: 2px;
}
.tag_box.inline li {
  float: left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.tag_box a:hover {
  background-color: #e5e5e5;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
