<!DOCTYPE html>
<html lang='{{ .Lang }}'>
<head>
  <meta charset='utf-8'>

  <title>{{ .Title }}</title>
  {{ if .Description }}<meta name='description' content='{{ .Description }}'>{{ end }}
  <meta name='author' content='croquis.com'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <meta property='og:title' content='{{ .Title }}' />
  <meta property='og:type' content='{{ if .IsPage }}article{{ else }}website{{ end }}' />
  <meta property='og:url' content='{{ .Permalink }}' />
  {{ with .Params.images }}
    {{ range first 6 . }}
  <meta property='og:image' content='{{ . | absURL }}'/>
    {{ end }}
  {{ end }}

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link href='{{ "/css/style.css?body=1" | relURL }}' rel='stylesheet' type='text/css' media='all'>
  <link href='{{ "/css/syntax.css?body=1" | relURL }}' rel='stylesheet' type='text/css' media='all'>

  {{ "<!--[if lt IE 9]>" | safeHTML }}
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  {{ "<![endif]-->" | safeHTML }}
</head>
<body>
