<div class="hp-navbar-top">
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <nav class='hp-nav'>
          <span>
            <a href='/'>
              <img src='/img/logo-zigzag.png' width='124' height='37' class='hp-navbar-logo'>
            </a>
            <span class="hp-navbar-logo-font"></span>
          </span>
        </nav>
        <div class="pull-right hp-navbar-top-link">
          <a class='hp-nav-item' href='https://zigzag.kr' target='_blank'>
            ZIGZAG
          </a>
          <a class='hp-nav-item' href='https://github.com/croquiscom' target='_blank'>
            Github
          </a>
          <!--
            <a href='https://croquis.com/recruit/' target='_blank'><nav class='hp-nav-item'>Jobs</nav></a>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class='hp-navbar'>
  <div class='hp-navbar-bgcolor'>
    <div class='container'>
      <div class='text-center'>
        <div class='hp-navbar-title'>{{ .Title }}</div>
      </div>
    </div>
  </div>
</div>