---
layout: default.ko
---
{% include setup %}

<div class='row'>
  <div class='col-xs-12'>
    <div class='page-header'>
      <h1>{{ page.title }}</h1>
      <p>by {% include author_name %}</p>
    </div>
  </div>

  <div class='col-xs-12 col-sm-9'>
    {{ content }}
  </div>

  <div class='col-xs-12 col-sm-3'>
    <div class='post-date'>
      <i class='glyphicon glyphicon-pencil'></i>
      <span>{{ page.date | date_to_long_string }}</span>
    </div>

    {% unless page.tags == empty %}
      <ul class='tag_box inline'>
        <li><i class='glyphicon glyphicon-tags'></i></li>
        {% assign tags_list = page.tags %}
        {% include tags_list %}
      </ul>
    {% endunless %}
  </div>

  <div class='col-xs-12'>
    <hr>

    <ul class='pager'>
      {% if page.previous %}
        <li class='previous'><a href='{{ BASE_PATH }}{{ page.previous.url }}' title='{{ page.previous.title }}'>&larr; 이전 글</a></li>
      {% else %}
        <li class='previous disabled'><a>&larr; 이전 글</a></li>
      {% endif %}
      {% if page.next %}
        <li class='next'><a href='{{ BASE_PATH }}{{ page.next.url }}' title='{{ page.next.title }}'>다음 글 &rarr;</a></li>
      {% else %}
        <li class='next disabled'><a>다음 글 &rarr;</a>
      {% endif %}
    </ul>
    <hr>
    <div class='text-center'>
    {% include comments %}
    </div>
  </div>
</div>
